<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corporation8793.skinhairdresser">
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- BT 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 바이브 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkinHairdresser"
        android:usesCleartextTraffic="true">
        <activity android:name="com.corporation8793.skinhairdresser.Thread.Test_MainActivity">
        </activity>
        <activity android:name="com.corporation8793.skinhairdresser.IntroActivity2"></activity>
        <activity android:name="com.corporation8793.skinhairdresser.LanguageActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.ManageActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.JoinActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name="com.corporation8793.skinhairdresser.LoginActivity"></activity>
        <activity android:name="com.corporation8793.skinhairdresser.RecommendActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.ResultMoreActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.ResultActivity"></activity>
        <activity android:name="com.corporation8793.skinhairdresser.ConfirmActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.LetOutActivity" />
        <activity android:name="com.corporation8793.skinhairdresser.StartActivity">

        </activity>
        <activity android:name="com.corporation8793.skinhairdresser.SettingActivity"></activity>
        <activity android:name="com.corporation8793.skinhairdresser.MainActivity" />

        <receiver
            android:name="com.corporation8793.skinhairdresser.BroadcastReceiver.WifiReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>